<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find climb_robot_control)/config/climbot5d.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/climbot5d" args="joint_state_controller
					joint_position_controller"/>
  <rosparam>
    dependent_joints:
      G6_Joint1: {parent: G6_Joint, factor: 1 }
      G0_Joint1: {parent: G0_Joint, factor: 1 }
  </rosparam>
 <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/climbot/joint_states" />
  </node>

</launch>